<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    	<meta charset="utf-8">
	<title>Aledroggo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Aledroggo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search_start">Rozpocznij wyszukiwanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search_history">Historia wyszukiwania</a>
      </li>

    </ul>
  </div>
</nav>
</head>
<body>
    <div style="text-align: center;" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Czego szukasz?</h1>
        <p class="lead">Wpisz poniżej frazę, od której zaczniesz poszukiwania swojego produktu</p>
          <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Nazwa produktu" aria-label="Nazwa produktu" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button" id="button-addon2">Dalej</button>
  </div>
</div>
      </div>

    </div>
</body>
</html>